@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Black.woff2") format("woff2"), url("fonts/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Bold.woff2") format("woff2"), url("fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Regular.woff2") format("woff2"), url("fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*Main start*/
html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  background: #141518;
  color: #fff;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.d_sctn {
  display: flow-root;
  box-sizing: border-box;
  padding: 40px 0;
}
.d_cntnr {
  display: flow-root;
  box-sizing: content-box;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.d_rw {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  box-sizing: border-box;
}
.d_rw + .d_rw {
  margin-top: 40px;
}
[class^="d_cl"] {
  flex: 1 1 100%;
  box-sizing: border-box;
}
.d_cl_a {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}
.d_n_xs {
  display: none;
}
button {
  background: none;
  border: none;
  padding: 0;
}
button:hover {
  cursor: pointer;
}
h1 {
  font-size: 1.5rem;
  line-height: 1.333;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}
h1 strong {
  color: #34C759;
  font-weight: 800;
}
a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}
a:hover {
  text-decoration: underline;
}
.d_btn {
  margin: 0;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  background: #1B1C21;
  transition: background 0.3s ease-in-out;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  min-width: 246px;
}
.d_btn:hover {
  background: #383A43;
}
.d_btn:active {
  background: #fff;
  color: #333;
}
/*Main end*/
/*Header start*/
header {
  padding: 21px 0;
  background: #1B1C21;
}
header .d_rw {
  justify-content: space-between;
  align-items: center;
}
header .d_m_m {
  display: none;
}
header .d_m_m.d_show {
  display: flex;
}
.d_logo_box a {
  display: flex;
}
.d_hbrg {
  padding: 6px 0;
  display: flex;
}
.d_hbrg i,
.d_hbrg i:after,
.d_hbrg i:before {
  transition: all 0.2s ease-out;
  background: #fff;
  border-radius: 2px;
  height: 2px;
  width: 21px;
}
.d_hbrg i {
  position: relative;
  line-height: 1;
}
.d_hbrg i:after,
.d_hbrg i:before {
  content: "";
  position: absolute;
  left: 0;
}
.d_hbrg i:after {
  bottom: -5px;
}
.d_hbrg i:before {
  top: -5px;
}
.d_v_s {
  display: none;
}
/*Header end*/
/* card start*/
.d_crd {
  background: #1B1C21;
  border-radius: 19px;
  padding: 34px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.d_crd:not(:last-child) {
  position: relative;
}
.d_crd:not(:last-child)::before {
  content: '';
  width: 28px;
  height: 24px;
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='36' viewBox='0 0 30 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 4L22 18L8 32' stroke='%238BA98F' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  bottom: -32px;
}
/* card end*/
.o_modal {
  display: none;
}
@media (min-width: 768px) {
  main,
  header,
  footer {
    display: none;
  }
}
@media (min-width: 768px) {
  .o_preload {
    z-index: 999999999;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #141518;
    justify-content: space-around;
    align-items: center;
  }
  .o_preload::after {
    content: '';
    animation: rotate 2s linear infinite;
    width: 75px;
    height: 75px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='200' height='200' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M200 100a100 100 0 1 1-200 0 100 100 0 0 1 200 0Zm-180 0a80 80 0 1 0 160 0 80 80 0 0 0-160 0Z' fill='%23FFECE6'/%3E%3Cpath d='M190 100c6 0 10-4 10-10a100 100 0 0 0-90-90c-6 0-10 4-10 10s4 10 10 11a80 80 0 0 1 69 69c1 6 5 10 11 10Z' fill='%2334C759'/%3E%3C/svg%3E%0A");
    background-size: cover;
    transform: translate(50%, 50%);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
